* {
  box-sizing: border-box;
  margin: 0px;
}
:root {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    --main-bg-color: #00459f;
    --main-bg-color2: rgb(29, 29, 29);
    --nav-bg-color: linear-gradient(to bottom, black, var(--main-bg-color));
    --nav-bg-color-rev: linear-gradient(to bottom, var(--main-bg-color), rgb(0, 0, 0, 0.5));
    --img-border-color: linear-gradient(to right, var(--main-bg-color), white);
    --sidebar-bg-color: #0077b6;
    --nav-font-size: 20px;
    --accent-color: #005ed8;
    --left-spacing: 45px;
}

/* Navbar Section*/

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background: var(--nav-bg-color);
  color: white;
}
.navbar h1 {
  color: var(--main-accent-color);
  padding-left: 4vw;
}
.navbar .links {
  margin-left: auto;
  padding-right: 4vw;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.navbar a:hover {
  color: var(--main-accent-color);
}

/* AboutMe Section*/

.about-me {
  display: flex;
  background: var(--nav-bg-color-rev);
  padding-top: 20px;
  color: white;
  min-height: 100vh;
}
.about-me-text {
  padding-top: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 55vw;
}
.about-me-text h1 {
  padding-top: 60px;
  font-size: 50px;
}
.about-me-text p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.about-me-image {
  padding-top: 7vh;
}
.about-me-image img {
  height: 600px;
  border-style: solid;
  border-width: 15px;
  border-radius: 5pc;
  border-color: black;
}

/* Skills Section */

.skills-section {
  background: var(--nav-bg-color-rev);
  height: 160vh;
  padding-top: 20px;
  color: white;
}
.skills {
  text-align: center;
  padding-bottom: 30px;
  min-height: 75vw;
}
.skills #skills-title {
  padding: 20px 0px 70px 0px;
  font-size: 50px;
}
.skills-card-section {
  display: grid;
  grid-template-columns: repeat(3,45vh);  /* 3 columns */
  grid-template-rows: repeat(3,10vw); /* 3 rows  */
  grid-gap: 30vh 1vw;
  justify-items: center;
  justify-content: space-around;
}
.skills-card {
  height: fit-content;
  text-align: center;
  width: 25vw;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
}
.skills-card-title {
  font-size: 45px;
  padding-bottom: 5vh;
}
.skills-card p {
  font-size: 25px;
  padding-top: 20px;
  font-weight: lighter;
}
.skills-card img {
  height: 120px;
  width: auto;
}

/* Projects Section */

.projects-section {
  background: var(--nav-bg-color-rev);
  padding-top: 20px;
  color: white;
  min-height: 85vh;
}
.projects {
  text-align: center;
  padding-bottom: 30px;
}
.projects #projects-title {
  padding: 20px 0px 70px 0px;
  font-size: 50px;
}
.project-card-section {
  display: grid;
  grid-template-columns: repeat(1,150px);  /* 3 columns */
  grid-template-rows: auto; /* 3 rows  */
  grid-gap: 20vh 1vw;
  justify-items: center;
  justify-content: space-around;
}
.project-card {
  width: 85vw;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  padding-left: var(--left-spacing);
}
.project-card-text {
  display: grid;
  grid-gap: 5vh;
  justify-content: center;
  padding-top: 65px;
  width: 45vw;
}
.project-card-title {
  padding-top: 30px;
}
.project-card p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.project-images {
  display: flex;
  width: 45vw;
  justify-items: center;
  justify-content: space-around;
}
.project-images img{
  width: 100vw;
}
.project-single-image {
  width: 45vw;
  justify-items: center;
  justify-content: space-around;
}
.project-card img {
  height: 45vh;
  width: 45vw;
  padding: 15px 15px 15px 15px;
}
.button-row {
  display: block;
}
.github-button {
  border-style: double;
  border-radius: 15px;
  border-color: white;
  background: #00459f;
  color: white;
  font-size: var(--nav-font-size);
  width: 5vw;
  height: 5vh;
}
.detail-button {
  margin-left: 3vw;
  border-style: double;
  border-radius: 15px;
  border-color: white;
  background: #00459f;
  color: white;
  font-size: var(--nav-font-size);
  width: 8vw;
  height: 5vh;
}

 /* Experience Section */

.experience {
  background: var(--nav-bg-color-rev);
  padding-top: 20px;
  color: white;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 30px;
}
.experience #certificate-title {
  padding: 20px 0px 70px 0px;
  font-size: 50px;
}
.experience #experience-title {
  font-size: 50px;
}
.experience-card-section {
  display: grid;
  grid-template-columns: repeat(1,150px);  /* 3 columns */
  grid-template-rows: auto; /* 3 rows  */
  grid-gap:80px 30px;
  justify-items: center;
  justify-content: space-around;
}
.experience-card {
  width: 85vw;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  justify-content: center;
  padding: 45px 45px 45px 45px
}
.experience-card h2 {
  align-items: center;
}
.experience-card p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.experience-card img {
  height: 300px;
}

/* Contact Section */

.contact-section {
  background: var(--nav-bg-color-rev);
  padding-top: 20px;
  color: white;
  min-height: 100vh;
}
.contact {
  text-align: center;
  padding-bottom: 30px;
}
.contact #contact-title {
  padding: 20px 0px 70px 0px;
  font-size: 50px;
}
.contact-card-section {
  display: grid;
  grid-template-columns: repeat(1,150px);  /* 3 columns */
  grid-template-rows: auto; /* 3 rows  */
  grid-gap:80px 30px;
  justify-items: center;
  justify-content: space-around;
}
.contact-card {
  width: 85vw;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  padding: 45px 45px 45px 45px
}
.contact-card img {
  height: 200px;
  width: auto;
}